<h1>All Restaurants</h1>
<div id="restaurants">
  <% @restaurants.each do |restaurant| %>
    <%= restaurant.name %>
    <p>
      <%= link_to "Show this restaurant", restaurant %>
    </p>
  <% end %>
</div>

<div>
<%= link_to "Add a new restaurant", new_restaurant_path %>
</div>
