<div>
  <h1 class="landing-page-header">All Restaurants</h1>
</div>

<div class="text-center mb-6">
  <%= link_to "Add a new restaurant", new_restaurant_path %>
</div>

<% @restaurants.each do |restaurant| %>
  <div class="card restaurant-card text-center mx-auto my-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= restaurant.name %></h5>
      <%= link_to "Show this restaurant", restaurant %>
    </div>
  </div>
<% end %>
